<h2>About Grayson T Schillereff</h2>
	
		<!--Links to my other pages-->
	 	<fieldset id = 'buttonField'>
	 	<button id='homeButton'>Home</button>
	 	<button id="skillsButton">Skills</button>
	 	<button id="contactButton">Contact</button>
	 	<button id="thanksButton">Special Thanks</button>
	 	</fieldset>

	 	<!-- My own personal images -->
	 	<img class="slides" src="code.jpg">
	 	<img class="slides" src="comp.jpg">
	 	
	 	<!-- Text in a scroll bar -->
	 	<div class="scrollText">
		 	<p>Hello, my name is Grayson Schillereff. I currently am a Computer Science post bacc student at Oregon State. I grew up in Scappoose Oregon, where I went to Scappoose High School. I competed in Football and Weight Lifitng while there. Placing in 4th in the nation in Power Clean. I graduated in 2012 with honors.</p>
		 		<br>
		 	<p>After High school I went to Oregon State University. Unaware of what I wanted to major in I was undecalred. My sophmore year I decided that I needed to leave Oregon. So I started looking for a new school. After a trip down the California coast I found San Diego State University and decided to transfer.</p>
		 		<br>
		 	<p>At San Diego State I decided to major in Criminal Justice. I also competed on the Water Ski team. We competed in NCAA Division 1 nationals in 2016, where we placed 8th overall. While in school I interned for a San Diego County Contractor, SCRAM of CA. Eventually getting a full time job with them after I graduated in August of 2016.</p>
		 		<br>
		 	<p>At SCRAM I worked as the Probation Liason. Helping to grow SCRAM by keeping a healthy relationship with San Diego County probation. I worked at SCRAM for about 2 years before realizing I was not in the right field. I had always wished my major used more math and logic. So looking around for career changess I found Oregon States post bacc program. So I applied.</p>
		 		<br>
		 	<p>Since I got into the program I have loved every momment of it. It has challenged me, while helping me sharpen old skills and create new ones. Go to my contact page and get ahold of me!</p>
		 </div>
		 <script src="/nav.js"></script>
		 <script src="/about.js"></script>