<h2>Get a hold of me!</h2>

	 	<!--Links to my other pages-->
	 	<fieldset id = 'buttonField'>
		 	<button id='homeButton'>Home</button>
		 	<button id="skillsButton">Skills</button>
		 	<button id="contactButton">Contact</button>
		 	<button id="thanksButton">Special Thanks</button>
	 	</fieldset>

	 	<!-- Sends user to an email pre addressed to my email via a POST-->
	 	<p> Send me an email!</p>
	 	<form action="mailto:schilleg@oregonstate.edu" method="post" enctype="text/plain">
	 		Name:<br>
	 	<input type="text" name="Name">
	 	<br>
	 	Company:<br>
	 	<input type="text" name="Company">
	 	<br>
	 	Message:<br>
	 	<input type="text"  name="Message" size="50">
	 	<br>
	 	<input type="submit" value="Send">
	 	<input type="reset" value="Reset">
	 </form>

	 <script src="/nav.js"></script>