	<h2>Skills to Pay the Bills!</h2>

	 		<!--Links to my other pages-->
		  	<fieldset id = 'buttonField'>
			 	<button id='homeButton'>Home</button>
			 	<button id="skillsButton">Skills</button>
			 	<button id="contactButton">Contact</button>
			 	<button id="thanksButton">Special Thanks</button>
		 	</fieldset>

	 	<br>
	 	<!-- Table with unordered lists -->
	 	<div>
	 		<table id="skillTable">
	 			<tr>
			 		<th>Languages</th>
			 		<th>Skills</th>
			 		<th>Abilities</th>
	 			</tr>

	 			<tr>
	 			<td>
	 				<list>
			 			<ul>
			 				<li>C++</li>
			 				<li>HTML</li>
			 				<li>C</li>
			 				<li>JavaScript</li>
			 				<li>CSS</li>
			 			</ul>
			 		</list>
	 			</td>

		 		<td>
		 		<list>
		 			<ul>
		 				<li>Leadership</li>
		 				<li>Professional</li>
		 			</ul>
		 		</list>
	 			</td>

	 			<td>
		 			<list>
		 			<ul>
		 				<li>Learns Quick</li>
		 				<li>Task Oriented</li>
		 				<li>Eager to Help</li>
		 			</ul>
		 		</list>
			 	</td>
			 	</tr>
		 	</table>
		 	</div>

		 	<!--Box with button to download resume as well as link to outside source-->
	 	<p id='info'>Check out my info!:
		 	<a href="resume.pdf" download="GraysonSchillereffResume"><button>Resume</button></a>
			<a href="https://github.com/Gschillereff">Git Hub Link</a>
		</p>
		<br>

		<iframe width="420" height="315"
		src="https://www.youtube.com/embed/paL8AsQZjl8?">
		</iframe>

		<script src="/nav.js"></script>
