 	<h2>Special Thanks</h2>

	 	<!--Links to my other pages-->
	 	<fieldset id = 'buttonField'>
	 	<button id='homeButton'>Home</button>
	 	<button id="skillsButton">Skills</button>
	 	<button id="contactButton">Contact</button>
	 	<button id="thanksButton">Special Thanks</button>
	 	</fieldset>
	 	
	 <fieldset>
	 	<ul>
	 		<li>Grandma & Grandpa Paavola
	 			<br>
	 			<p id='thx'> Thank you for the love and support through out my whole life. Always wanting the best for me. Thank you so much for the support through college, not once but twice. 
	 				<br>
	 					<p id='special'>-Cause Grandma wanted a button to see her favorite animals. <button id='catButton'>Cat Button</button></p>
	 			</li>
	 			<li>Mom
	 				<br>
	 				<p id='thx'>Thank you Mom for only accepting my best efforts. Teaching me to be competive and always trying to be the very best I can.</p>
	 			</li>
	 			<li>Shaylenne
	 				<br>
	 				<p id='thx'> Thank you for always having my back. I know I have had alot on my plate lately, thank you for putting up with my stress and helping me stay focused.</p>
	 			</li>
	 			<li>Dad
	 				<br> 
	 				<p id='thx'>Thank you Dad for making me the man I am today. Thank you for teaching me how to enjoy life no matter what. For teaching me not give anything less then my best no matter what. Most importantly for all ways being there no matter what I needed, I know I can always rely on you. </p>
	 			</li>

	 </fieldset>

	<script src="/nav.js"></script>
	<script src="/thanks.js"></script>